openapi: 3.0.3
info:
  title: Veriff Public Attempts Watchlist Screening API
  description: "The Veriff Public API powers online identity verification: creating verification sessions, submitting and retrieving media, and reading the resulting decision, person, watchlist-screening, and attempt data.\n\n## Base URL\n\nRequests are made against your integration base URL, retrieved from the Veriff Customer Portal (API Keys page). The common production base URL is `https://stationapi.veriff.com/v1`.\n\n## Authentication\n\nEvery request carries two headers:\n- `X-AUTH-CLIENT` - your integration's public API key, identifying the\n  request sender.\n\n- `X-HMAC-SIGNATURE` - a hex-encoded HMAC-SHA256 signature proving payload\n  authenticity, computed with your integration's shared secret key.\n\n\nWhat is signed depends on the method:\n- `POST` / `PATCH`: sign the exact raw request payload body.\n- `GET` / `DELETE`: sign the resource identifier used in the path\n  (for example the session ID).\n\n- `POST /sessions` is the one exception and does not require\n  `X-HMAC-SIGNATURE`, only `X-AUTH-CLIENT`.\n\n\nVeriff signs its responses and webhooks the same way, returning `vrf-auth-client`, `vrf-hmac-signature`, and `vrf-integration-id` headers so callers can verify authenticity."
  termsOfService: https://www.veriff.com/terms
  contact:
    name: Veriff Support
    url: https://www.veriff.com/support
  version: '1.0'
servers:
- url: https://stationapi.veriff.com/v1
  description: Veriff Public API (retrieve your exact base URL from the Customer Portal)
security:
- AuthClient: []
  HmacSignature: []
tags:
- name: Watchlist Screening
  description: Retrieve AML PEP, sanctions, and adverse-media screening results.
paths:
  /sessions/{sessionId}/watchlist-screening:
    get:
      operationId: getWatchlistScreening
      tags:
      - Watchlist Screening
      summary: Retrieve AML watchlist screening
      description: Returns Politically Exposed Persons (PEP), sanctions, and adverse-media screening results for a session, including hit details.
      parameters:
      - $ref: '#/components/parameters/SessionId'
      responses:
        '200':
          description: Watchlist screening result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WatchlistScreeningResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid X-AUTH-CLIENT / X-HMAC-SIGNATURE.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        status:
          type: string
          example: fail
        code:
          type: integer
        message:
          type: string
    WatchlistScreeningResponse:
      type: object
      properties:
        status:
          type: string
        watchlistScreening:
          type: object
          properties:
            searchResult:
              type: string
              description: e.g. NO_MATCH, POSSIBLE_MATCH, MATCH.
            matchStatus:
              type: string
            totalHitCount:
              type: integer
            searchTerm:
              type: string
            hits:
              type: array
              items:
                type: object
                properties:
                  matchTypes:
                    type: array
                    items:
                      type: string
                  name:
                    type: string
                  categories:
                    type: array
                    items:
                      type: string
                    description: e.g. sanction, pep, adverse-media.
  parameters:
    SessionId:
      name: sessionId
      in: path
      required: true
      description: The verification session UUID.
      schema:
        type: string
        format: uuid
  securitySchemes:
    AuthClient:
      type: apiKey
      in: header
      name: X-AUTH-CLIENT
      description: Your integration's public API key.
    HmacSignature:
      type: apiKey
      in: header
      name: X-HMAC-SIGNATURE
      description: Hex-encoded HMAC-SHA256 signature of the payload (POST/PATCH) or the resource ID (GET/DELETE), keyed with your integration's shared secret.
